[language.c_cpp]
filetypes = ["c", "cpp"]
roots = ["compile_commands.json", ".ccls", ".git"]
command = "@kak_config@/lsp/ccls/Release/ccls"

[language.javascript]
filetypes = ["javascript"]
roots = ["package.json"]
command = "@kak_config@/lsp/flow/node_modules/.bin/flow"
args = ["lsp"]
